<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bares</title>
</head>
<body>
    <header>
        <img src="img/logo.png" alt="Logo Sitio web">
        <span>Pasaje Culinario</span>
        <nav>
            <ul>
                <li><a href="/practicajames/">Inicio</a></li>
                <li><a href="comidasrapidas.html">Comidas rapidas</a></li>
                <li><a href="huecas.html">Huecas</a></li>
                <li><a href="restaurantes.html">Restaurantes</a></li>
                <li><a href="sitiosiconicos.html">Sitios Icónicos</a></li>
            </ul>
        </nav>
    </header>  
    <section>
        <img src="img/cerveza-diseño.jpg" alt="Baner cerveza" width="50%"> 
        <a href="https://images.app.goo.gl/bL3PMpFW3bj54uVt8"> Referencia de imagen</a>
    </section>
    <aside>
        <h2>Estos son los bares más populares de la ciudad de Pasaje</h2>
        <table>
            <thead>
                <caption>Bares mas famosos de la ciudad</caption>
                <tr>
                    <td>#</td>
                    <td>Nombre</td>
                    <td>Valoración</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Nuestro Bar</td>
                    <td>9</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Ruta 593 Restobar</td>
                    <td>7,5</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>D' TOTY´S LOUNGE BAR</td>
                    <td>6</td>
                </tr>
            </tbody>
        </table>
        <p>La ciudad de Pasaje, en la provincia de El Oro, Ecuador, cuenta con una amplia variedad de bares para todos los gustos. Desde bares tradicionales que ofrecen cervezas artesanales y comida típica, hasta bares modernos con música en vivo y DJ, Pasaje tiene algo para ofrecer a todos.
            
            Algunos de los bares más populares de Pasaje incluyen:
            
            Ruta 593 Restobar: Este bar ofrece una amplia variedad de cervezas artesanales, así como comida típica ecuatoriana. También cuenta con una terraza al aire libre donde se puede disfrutar del clima cálido de Pasaje.
            D' TOTY´S LOUNGE BAR: Este bar es un lugar popular para disfrutar de música en vivo y DJ. También ofrece una variedad de bebidas alcohólicas, así como bocadillos y platos ligeros.
            Nuestro Bar: Este bar es un lugar tradicional para disfrutar de cervezas artesanales y comida típica ecuatoriana. También cuenta con un ambiente relajado y familiar. </p>
    </aside>
    <article>
        <h1>Los bares más concurridos de la ciudad de Pasaje</h1>
        <p>Sua Music Bar: Este bar es conocido por su música en vivo, su ambiente festivo, y su amplia variedad de bebidas. Es un lugar popular para los jóvenes y adultos que buscan pasar una noche divertida.
    El Cuate By Los Ricks: Este bar es conocido por su música tradicional ecuatoriana, su comida típica, y su ambiente familiar. Es un lugar popular para los amantes de la música y la cultura ecuatoriana.
    Chinos Bar: Este bar es conocido por su ambiente relajado, su excelente servicio, y su amplia variedad de bebidas. Es un lugar popular para los que buscan un lugar tranquilo para disfrutar de una bebida con amigos o familiares.</p>
    </article>
    <head><title>Formulario</title></head>
    <body>
        <h3>Eligenos siempre</h3>
        <form action="https://instagram.com/jamessanchez620?igshid=NGVhN2U2NjQ0Yg%3D%3D&utm_source=qr " method="post">
        <input type="text" name="Nombre" value=""/> 
        <br/>
        <input type="submit" value="Enviar"/> 
        </form>
         
    </body> 
    <footer>
        Elaborado por James
    </footer>  
</body>
</html>