<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comidas Rapidas</title>
</head>
<body>
    <header>
        <img src="img/logo.png" alt="Logo Sitio web">
        <span>Pasaje Culinario</span>
        <nav>
            <ul>
                <li><a href="/practicajames/">Inicio</a></li>
                <li><a href="bares.html">Bares</a></li>
                <li><a href="huecas.html">Huecas</a></li>
                <li><a href="restaurantes.html">Restaurantes</a></li>
                <li><a href="sitiosiconicos.html">Sitios Icónicos</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <img src="img/comida-rapida-casera.jpg" alt="Baner comida rapidas" width="30%"> 
        <a href="https://s3.abcstatics.com/media/gurmesevilla/2012/01/comida-rapida-casera.jpg"> Referencia de imagen</a>
    </section>
     <video src="video/ssstik.io_1700284658103.mp4" type="video/mp4"></video> 
     <aside>
        <h2>Comidas Rapidas en la ciudad de Pasaje</h2>
        <p>
            La ciudad de Pasaje, en la provincia de El Oro, Ecuador, cuenta con una amplia variedad de lugares de comidas rápidas para satisfacer los gustos de todos los paladares.
            
            Entre los restaurantes de comida rápida más populares de Pasaje se encuentran:
            
            El Patio Fast Food: Este restaurante ofrece una amplia variedad de platos de comida rápida, como hamburguesas, hot dogs, pizzas, tacos, burritos, y más. También cuenta con una zona de juegos para niños.
            Chichos Bar & Grill: Este restaurante ofrece una combinación de comida rápida y comida tradicional ecuatoriana. Su menú incluye platos como hamburguesas, pollo frito, ceviches, y más.
            Mary Fast Food: Este restaurante es conocido por sus hamburguesas de carne de res y pollo, así como por sus papas fritas. También ofrece una variedad de bebidas, como refrescos, jugos, y cerveza.</p>
     </aside>
     <article>
        <h1>Lugares más famosos de comidas rapidas en la ciudad</h1>
        <h3>Chichos Bar & Grill</h3>
        <p>Chichos Bar & Grill es un restaurante que ofrece una combinación de comida rápida y comida tradicional ecuatoriana. Es un lugar popular para los amantes de la comida rápida que buscan probar también platos tradicionales ecuatorianos.
           El menú de Chichos Bar & Grill incluye platos como hamburguesas, pollo frito, ceviches, y más. También ofrece una variedad de bebidas, como refrescos, jugos, y cerveza.</p>
     </article>
     <head><title>Formulario</title></head>
    <body>
        <h3>Eligenos siempre</h3>
        <form action="http://www.utpl.edu.ec" method="post">
        <input type="text" name="Nombre" value=""/> 
        <br/>
        <input type="submit" value="Enviar"/> 
        </form>
         
    </body> 
    <footer>
        Elaborado por James
    </footer>  
</body>
</html>