<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Huecas Pasajeñas</title>
</head>
<body>
    <header>
        <img src="img/logo.png" alt="Logo Sitio web">
        <span>Pasaje Culinario</span>
        <nav>
            <ul>
                <li><a href="/practicajames/">Inicio</a></li>
                <li><a href="comidasrapidas.html">Comidas rapidas</a></li>
                <li><a href="bares.html">Bares</a></li>
                <li><a href="restaurantes.html">Restaurantes</a></li>
                <li><a href="sitiosiconicos.html">Sitios Icónicos</a></li>
            </ul>
        </nav>
    </header> 
    <section>
        <img src="img/huecas.jpg" alt="Baner huecas" width="80%"> 
        <a href="https://www.moonpalace.com/THG_Jade_03_restaurantes_background_3600x1800px_b8206c4c21.jpg"> Referencia de imagen</a>
    </section>
    <h2>A continuacion un video el cual muestra el sitio de Dinner Kebab</h2>
    <video src="video/ssstik.io_1700284824114.mp4" type="video/mp4"></video>
    <aside>
        <h2>Estos son las Huecas más conocidas de la ciudad de Pasaje</h2>
        <table>
            <thead>
                <caption>Huecas más famosas de la ciudad</caption>
                <tr>
                    <td>#</td>
                    <td>Nombre</td>
                    <td>Valoración</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Cevicehria Barcelona</td>
                    <td>9</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>The Queens</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>El piguari</td>
                    <td>8</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Dinner Kebab</td>
                    <td>9,5</td>
                </tr>
            </tbody>
        </table>
        <h3>Las huecas más reconocidas de la ciudad</h3>
        <p>Existe una infinidad de lugares para comer en la hermosa ciudad de Pasaje para ir a comer pero los luagre más iconidos serían: The Queens que se caracteriza por su infinidad de comida a bajos precios y su excelente sabor, mayormente se distingue por comidas rapidas, tambien tenemos a la Cevicheria Barcelona un lugar mitico especializados en mariscos y ceviches, tenemos al reconocido Piguari por sus platos tipicos ecuatorianos e increible sazón más alla de esos tres restaurantes hay muchisimos y de muy buenos gustos, sigue leyendo para explorar más.</p> 
    </aside>     
    </article>
    <head><title>Formulario</title></head>
    <body>
        <h3>Eligenos siempre</h3>
        <form action="https://instagram.com/jamessanchez620?igshid=NGVhN2U2NjQ0Yg%3D%3D&utm_source=qr " method="post">
        <input type="text" name="Nombre" value=""/> 
        <br/>
        <input type="submit" value="Enviar"/> 
        </form>
        <footer>
            Elaborado por James
        </footer> 
</body>
</html>