<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Huecas Pasajeñas</title>
</head>
<body>
    <header>
        <img src="img/logo.png" alt="Logo Sitio web">
        <span>Pasaje Culinario</span>
        <nav>
            <ul>
                <li><a href="/practicajames/">Inicio</a></li>
                <li><a href="comidasrapidas.html">Comidas rapidas</a></li>
                <li><a href="bares.html">Bares</a></li>
                <li><a href="restaurantes.html">Restaurantes</a></li>
                <li><a href="sitiosiconicos.html">Sitios Icónicos</a></li>
            </ul>
        </nav>
    </header> 
</body>
</html>