<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurantes</title>
</head>
<body>
    <header>
        <img src="img/logo.png" alt="Logo Sitio web">
        <span>Pasaje Culinario</span>
        <nav>
            <ul>
                <li><a href="/practicajames/">Inicio</a></li>
                <li><a href="comidasrapidas.html">Comidas rapidas</a></li>
                <li><a href="huecas.html">Huecas</a></li>
                <li><a href="bares.html">Bares</a></li>
                <li><a href="sitiosiconicos.html">Sitios Icónicos</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <img src="img/restaurantes.jpg" alt="Baner Restaurantes" width="60%"> 
        <a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.moonpalace.com%2Fes%2Frestaurantes&psig=AOvVaw2dfOa7IR6gCZJ7qDxwH0ca&ust=1700434185535000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCJCaqY7RzoIDFQAAAAAdAAAAABAE"> Referencia de imagen</a>
    </section>
<aside>
    <h2>Brandy</h2>
    <p>El restaurante Brandy es uno de los restaurantes más famosos de la ciudad de Pasaje, Ecuador. Es conocido por su cocina internacional de alta calidad, su ambiente elegante, y su excelente servicio.
     El menú del restaurante Brandy incluye una variedad de platos de cocina internacional, como pastas, carnes, mariscos, y más. También ofrece una amplia variedad de vinos y otras bebidas.</p>
    <h3>Además del restaurante Brandy, hay otros restaurantes famosos en la ciudad de Pasaje, como:</h3>
   <ul>
    <li>El Portal del Oro: Este restaurante es conocido por su cocina tradicional ecuatoriana, su ambiente familiar, y su servicio amable.</li>
    <li>La Casona: Este restaurante es conocido por su cocina fusión, su ambiente íntimo, y su excelente servicio.</li>
    <li>El Patio: Este restaurante es conocido por su cocina internacional, su ambiente relajado, y su buen precio.</li>
   </ul>
</aside>
<article>
    <h1>¿Que buscas para comer?</h1>
    <p>Ceviche de camarón: Un plato popular que consiste en camarones frescos cocidos y marinados en jugo de limón, cilantro, cebolla y tomate.

        Guisos de pescado: La proximidad a fuentes de agua proporciona pescado fresco, que se prepara en guisos con una variedad de ingredientes locales y condimentos.
        
        Empanadas de verde: Empanadas hechas a base de plátano verde, rellenas de queso, carne u otros ingredientes, y luego fritas hasta obtener una textura crujiente.
        
        Arroz con menestra: Un plato tradicional que consiste en arroz acompañado de menestra (legumbres cocidas como lentejas o frijoles), carne y ensalada.
        
        Encebollado: Una sopa espesa y sustanciosa hecha con pescado, yuca, cebolla, cilantro y otros condimentos.
        
        Seco de pollo: Un estofado de pollo cocido a fuego lento con hierbas, especias y a veces cerveza, servido con arroz y plátano maduro.
        
        Bollos de pescado: Bolas de masa rellenas de pescado, cebolla y condimentos, cocidas al vapor o al horno.
        
        Mote pillo: Mote (maíz hominy) cocido y mezclado con huevos y otros ingredientes, a menudo acompañado de carne o pescado.
        
        Estos son solo algunos ejemplos de la rica oferta gastronómica de Pasaje, que combina sabores tradicionales de la región con ingredientes frescos y locales. La diversidad de la cocina refleja la cultura ecuatoriana y es una parte integral de la experiencia culinaria en la ciudad.</p>
        <p><img src="img/restaurante1.jpg" alt="restaurante1"></p>
        <a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.tripadvisor.es%2FRestaurants-g677335-Ambato_Tungurahua_Province.html&psig=AOvVaw00qSeke5Eyc1QeNZqL76xo&ust=1700442660525000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCOCl1tfwzoIDFQAAAAAdAAAAABAR"> Referencia imagen</a>
        <p>La gastronomía de Pasaje, Ecuador, es un reflejo de la diversidad cultural y de los recursos naturales disponibles en la región.</p>
</article>
<footer>
    Elaborado por James
</footer>
</body>
</html>