<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sitios Iconícos</title>
</head>
<body>
    <header>
        <img src="img/logo.png" alt="Logo Sitio web">
        <span>Pasaje Culinario</span>
        <nav>
            <ul>
                <li><a href="/practicajames/">Inicio</a></li>
                <li><a href="comidasrapidas.html">Comidas rapidas</a></li>
                <li><a href="huecas.html">Huecas</a></li>
                <li><a href="restaurantes.html">Restaurantes</a></li>
                <li><a href="bares.html">Bares</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <img src="img/Parque_Central_de_Pasaje.jpg" alt="sitiosiconicos" width="50%"> 
        <a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fes.wikipedia.org%2Fwiki%2FPasaje_%2528ciudad%2529&psig=AOvVaw1b_pKzAiFricWd7GYqFR2l&ust=1700443989361000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCOjBldH1zoIDFQAAAAAdAAAAABAZ">Referencia de imagen</a>
    </section> 
    <aside>
        <h2>Los sitios iconidos de Pasaje</h2>
        <p>Pasaje, Ecuador, es conocido por su rica tradición culinaria que refleja la diversidad cultural de la región. La gastronomía local destaca por sus platos típicos elaborados con ingredientes frescos y sabores auténticos de la zona. Se pueden disfrutar delicias como el ceviche de camarón, guisos de pescado, y platillos basados en productos agrícolas locales como plátanos, yuca y maíz. Además, la ciudad ofrece una variedad de mercados y puestos callejeros donde los visitantes pueden probar especialidades locales, creando así una experiencia culinaria única en el contexto ecuatoriano. </p>
        <h2>Descubre todos esos lugares donde se realizan los mejores platillos,postres y bebidas, lugares turisticos en la ciudad de Pasaje.</h2>
        <p>Las mejores opciones las encontraras en el centro de la ciudad mayormente, unos lugares increibles para degustar cualquier platillo.</p>
    </aside>
    <article>
        <h1>¿Que sitios te gustaria visitar?</h1>
        <p>La ciudad de Pasaje, en la provincia de El Oro, Ecuador, cuenta con una rica historia y cultura. Como resultado, hay una serie de sitios icónicos y famosos que vale la pena visitar.
            Parque Central:
            El Parque Central de Pasaje es el corazón de la ciudad. Es un lugar popular para relajarse, pasear, y disfrutar de la naturaleza. El parque cuenta con una variedad de árboles, plantas, y flores, así como con un lago artificial.
            Iglesia Matriz:
            La Iglesia Matriz de Pasaje es una iglesia católica construida en el siglo XIX. Es un edificio imponente de estilo neoclásico que domina el horizonte de la ciudad. La iglesia está dedicada a la Virgen de la Merced, la patrona de Pasaje.
            Casa de la Cultura Ecuatoriana:
            La Casa de la Cultura Ecuatoriana de Pasaje es un centro cultural que alberga una variedad de actividades, como exposiciones de arte, conciertos, y obras de teatro. La casa también cuenta con una biblioteca, un museo, y un auditorio.</p>
            <video src="video/ssstik.io_1700284882654.mov" type="video/mp4"></video>
            <p>El Museo de la Ciudad de Pasaje es un museo que cuenta la historia de la ciudad. El museo alberga una variedad de artefactos, como piezas arqueológicas, documentos históricos, y fotografías.</p>
    </article>
    <head><title>Formulario</title></head>
    <body>
        <h3>Eligenos siempre</h3>
        <form action="https://instagram.com/jamessanchez620?igshid=NGVhN2U2NjQ0Yg%3D%3D&utm_source=qr " method="post">
        <input type="text" name="Nombre" value=""/> 
        <br/>
        <input type="submit" value="Enviar"/> 
        </form>
        <footer>
            Elaborado por James
        </footer> 
</body>
</body>
</html>