<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sitios Iconícos</title>
</head>
<body>
    <header>
        <img src="img/logo.png" alt="Logo Sitio web">
        <span>Pasaje Culinario</span>
        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Acerca de</a></li>
                <li><a href="#">Menús</a></li>
                <li><a href="#">Restaurantes</a></li>
                <li><a href="#">Contactos</a></li>
            </ul>
        </nav>
    </header>  
</body>
</html>